body{
    color: aliceblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020412;

}
#services{
    padding: 30px 0;
    color: #fff724;

}
.servicesList{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:40px;
    margin-top: 50px;
    color: aliceblue;
}
.servicesList div{
    background: #262626;
    padding: 40px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}
.servicesList div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.servicesList div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    
}
.servicesList div a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    display: inline-block;
}
.servicesList div:hover{
    background: rgb(255, 240, 34);
    transform: translate(-10px);
    color: black;
}
.subtitle{
    text-align: center;
    font-family: helvetica;
    font-size: 40px;
}
