body{
    color: aliceblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-image: url('Bg1.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.row{
    grid-template-columns: auto auto;
    display: grid;
    grid-template-columns: 70% 50%;
}
.contactleft{
    flex-basis: 35%;
    margin-left: 100px;
    margin-top: 60px;
}
.contactright{
    flex-basis: 60%;
}
.contactleft p{
    margin-top: 30px;
    font-size: 20px;
    color: black;
    
} 
.contactleft p i{
    margin-right: 15px;
    font-size: 25px;
}
.socialicons{
    margin-top: 30px;
}
.socialicons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: black;
    display: inline-block;
    transition: transform 0.5s;
}
.socialicons a:hover{
    color: #fff724;
    transform:translateY(-5px);

}
.btn{
    background: #fff724;
    color: black;
    margin-left: 30px;
    font-weight: 600;
    border-radius: 6px;
    border: 2px solid #fff724;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 13px;
    margin-top: 50px;
    cursor: pointer;
}
.contactright form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: aliceblue;
    font-size: 18px;
    border-radius: 6px;

}
.inputname{
    margin-top: 70px;
}
.subtitle{
    color:#fff724;
    font-size: 40px;
    margin-bottom: 5px;
    position: relative;
    font-family: helvetica;
}